* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, rgb(210, 160, 160), rgb(245, 200, 200));
}

.calc {
    box-shadow: 
        inset -6px -6px 13px #c75d5d,
        6px 6px 13px rgba(210, 20, 20, 0.16);
    border-radius: 28px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 66px);
    background-color: rgb(240, 220, 220);
}

input {
    grid-column: span 4;
    height: 68px;
    width: 258px;
    box-shadow: 
        inset -6px -6px 13px rgb(206, 160, 160),
        inset 6px 6px 13px rgba(0, 0, 0, 0.16);
    background-color: rgb(218, 224, 193);
    border: none;
    border-radius: 32px;
    color: rgb(13, 14, 14);
    text-align: right;
    margin: 40px 0 30px 0;
    padding: 20px;
    font-size: 40px;
    transition: all 0.3s ease;
}

button {
    box-shadow: 
        inset 6px 6px 13px rgb(206, 160, 160),
        6px 6px 13px rgba(0, 0, 0, 0.16);
    background-color: rgb(218, 224, 193);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: 22px;
    color: rgb(50, 50, 50);
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    background-color: rgb(205, 213, 176);
    box-shadow: 
        0px 4px 8px rgba(0, 0, 0, 0.2),
        inset 2px 2px 5px rgba(255, 255, 255, 0.8);
}

button:active {
    transform: scale(1);
    background-color: rgb(180, 200, 150);
    box-shadow: 
        inset 6px 6px 13px rgba(0, 0, 0, 0.2),
        inset -2px -2px 5px rgba(255, 255, 255, 0.8);
}

.equal {
    width: 120px;
    border-radius: 42px;
    box-shadow: 
        inset 6px 6px 13px rgb(206, 160, 160),
        6px 6px 13px rgba(0, 0, 0, 0.16);
    background-color: rgb(215, 226, 169);
    font-size: 22px;
    font-weight: bold;
}

.equal:hover {
    background-color: rgb(205, 218, 150);
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: rgb(100, 50, 50);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}


.header {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #fff8e6;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), -3px -3px 6px rgba(255, 255, 255, 0.8);
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #7d4242;
}

.header p {
    font-size: 14px;
    color: #7d4242;
    margin: 0;
}
